<div class="container">
  <div>
    <h1>Danh sách sản phẩm</h1>
  </div>
  <div class="col-5">
    <table class="table">
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th colspan="2" style="text-align: center;">Hành động</th>
      </tr>
      <tr *ngFor="let product of products; index as i">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td style="text-align: center;"><a [routerLink]="['/product/update',product.id]" class="btn btn-outline-warning">Edit</a></td>
        <td style="text-align: center;"><a [routerLink]="['/product/delete',product.id]" class="btn btn-outline-danger">Delete</a></td>
      </tr>
    </table>
  </div>
</div>


