<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Customer</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- facility -->
<section class="page-section" id="facility">
  <div class="container-fluid px-4 px-lg-5 " style="background: #D6EFED;">
    <div class="row gx-4 gx-lg-5 justify-content-center " style="padding-top: 10px">
      <div class="col-lg-8 col-xl-6 text-center border-bottom-0 border border-warning bg-light"
           style="padding-top: 10px">
        <h2 class="mt-0" style="padding-top: 10px">Edit Customer!</h2>
        <hr class="divider"/>
        <p class="text-muted mb-5">Please choose customer what U want to edit !</p>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5 ">
      <div class="col-lg-6 border-top-0 border border-primary" style="margin-bottom: 10px;background: #FFE7BF">
        <div class="text-danger" id="tableInputName"></div>
        <div class="text-primary" ></div>
        <form id="contactForm" method="post" action="" >
          <!-- name input-->
          <div class="form-floating mb-3">
            <label for="name">Customer name</label>
            <input class="form-control" id="name" type="text" placeholder="Enter your name..."/>
          </div>
          <!-- birthday input-->
          <div class="form-floating mb-3">
            <label for="birthday">Birthday</label>
            <input class="form-control" id="birthday" type="date" placeholder="Enter your birthday..."/>
          </div>
          <!-- gender input-->
          <div class="form-floating mb-3">
            <div>
              <label>Gender</label>
            </div>
            <select class="form-control" aria-label="Default select example" style="padding-top: 0.625rem !important;" >
              <option value="">Choice Gender</option>
              <option value="1">Male</option>
              <option value="0">FeMale</option>
            </select>
          </div>
          <!-- idCard input-->
          <div class="form-floating mb-3">
            <label for="idCard">Id Card</label>
            <input class="form-control" id="idCard" type="text" placeholder="Enter your id card..."/>
          </div>
          <!-- phoneNumber input-->
          <div class="form-floating mb-3">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" id="phoneNumber" type="text"
                   placeholder="Enter your phone number..." />
          </div>
          <!-- email input-->
          <div class="form-floating mb-3">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="text" placeholder="Enter your email..."/>
          </div>
          <!-- address input-->
          <div class="form-floating mb-3">
            <label for="address">Address</label>
            <input class="form-control" id="address" type="text" placeholder="Enter your address..."/>

          </div>
          <!-- facilityType input-->
          <div class="form-floating mb-3">
            <div>
              <label>Customer Type</label>
            </div>
            <select class="form-control" aria-label="Default select example" style="padding-top: 0.625rem !important;" >
              <option value="">Choice Customer Type</option>
              <option value="" selected ></option>
            </select>
          </div>

          <!-- Submit Button-->
          <div class="d-grid text-center" style="padding-bottom: 40px;">
            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
