<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/category}">
        Back to category list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>ID:</label>
        <label th:text="${categoryNew.id}"></label>
    </div>
    <div class="cusdetail">
        <label>Name post:</label>
        <label th:text="${categoryNew.nameCategory}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
