<div class="d-block page-section">
  <div id="content">
    <img src="../../../assets/img/phuongtd-background.jpg" width="100%"/>
  </div>
  <div class="container text-center p-xl-5 card-img-overlay" style="padding-top: 13rem !important; left: 3.5%">
    <div class="row col-12 bg-light border">
      <div class="col-xl-6 col-lg-12 border" style="padding: 0 !important;">
        <img src="../../../assets/img/phuongtd-error-401.jpg" width="100%" height="100%"/>
      </div>
      <div class="col-xl-6 col-lg-12 align-self-center">
        <div class="p-5">
          <div class="d-flex align-items-center justify-content-center p-5">
            <div class="text-center">
              <h1 class="display-1 fw-bold">401</h1>
              <p class="fs-3"><span class="text-danger">Opps!</span> You have not authenticated.</p>
              <p class="lead">
                Vui lòng đăng nhập để tiếp tục.
              </p>
              <a href="" [routerLink]="['/login']" class="btn btn-outline-warning">Đăng nhập</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
