* {
    box-sizing: border-box;
}
.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row {
    display: block;
}

[class*=col-] {
    float: left;
    padding-right: 50px;
}
* {
    margin: 0;
    padding: 0;
}
.col-12-1 {
    width: 100%;
    height: 50px;
    background-color: #a69c9c;
    color: white;
}
.logo {
    padding: 13px;
    margin-left: 12px;
}
.login {
    margin-left: 658px;
}

.hover:hover{
    background-color: black;
}
.hover {
    height: 50px;
    padding: 13px;
    color: red;
}
.link{
    text-align: center;
    padding-top: 20px;
    color: blue;
}
.welcome {
    padding-top: 20px;
}
.col-8 p{
    text-align: justify;
    padding-top: 10px;

}
.dsa-1 {
    width: 200px;
    height: 100px;
    background-color: #f8f5f5;
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
}
.dsa-2 {
    width: 200px;
    height: 100px;
    background-color: #f8f5f5;
    text-align: center;
    margin-top: 50px;
    padding-top: 40px;
}
.col-12-2 {
    margin-top: 250px;
    background-color: #3a3535;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: white;
}