.table_wrapper {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.input-search {
  border-radius: 10px;
  border: #75644b solid 1px;
}

.name-employee {
  text-decoration: none;
  color: black;
}

.name-employee:hover {
  color: cornflowerblue;
}

table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.background-btn-add {
  background: #4c4234;
}

.img-background-component {
  padding-top: 50px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(src/assets/images/background-tuyen.jpg);
}

th {
  color: white;
}

table thead tr {
  background: #804707;
  background: #6c5c48;
  font-size: larger;
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.row-bold {
  font-weight: bold;
}

.wrap-table100 {
  width: 100%;
}

.btn-search {
  background: #4c4234;
}

h1 {
  color: white;
}
table th a{
  border-width: 0 !important;
  height: 18px !important;
  padding: 0 !important;
  padding-left: 3px !important;
  color: rgba(255, 255, 255, 0.27);
}
table th a:hover{
  color: white;
}
.sort-name{
  width: 250px !important;
}
.active1 {
  background-color: #4c4234 !important;
  color: white !important;
  display: block;
  border: 1px solid white;
}

div p{
  color: white;
  font-weight: 600;
  text-align: center;
}

.hide-width-row {
  position: relative;
  display: inline-block;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}
.number-pages{
  padding-left: 10px;
  background: white;
  color: blue;
  width: 50px;
  height: 39px;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 90%;
}
form div label{
  color: white ;
}
nav ul div li{
  padding: 0 1px;
}
.show-element{
  color: white;
  /*display: flex;*/
  padding-top: 5px;
}
