<div class="container-fluid bg-white">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
    <h3 class="font-weight-semi-bold text-uppercase mb-3">Thông Tin Tài Khoản</h3>
<!--    <div class="d-inline-flex">-->
<!--      <p class="m-0"><a href="">Trang chủ</a></p>-->
<!--      <p class="m-0 px-2">-</p>-->
<!--      <p class="m-0">Danh sách sản phẩm</p>-->
<!--    </div>-->
  </div>
</div>
<!-- Shop Start -->
<div class="container pb-5 pt-1 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-9 mb-4 mb-lg-0">
      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0" *ngIf="customer">
          <div class="col-md-4 gradient-custom text-center text-white"
               style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <a [routerLink]="">
              <img *ngIf="customer != null" src="{{customer.image}}" class="rounded-circle pt-5" width="150" data-toggle="modal" data-target="#exampleModalCenter">
              <img *ngIf="customer == null" src="assets/img/loading-symbol.gif" class="rounded-circle pt-5" width="150" data-toggle="modal" data-target="#exampleModalCenter">
            </a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-uppercase text-dark" id="exampleModalLongTitle">{{customer.name}}</h5>
                    <button type="button" class="close text-white bg-danger" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img *ngIf="customer == null" src="assets/img/loading-symbol.gif" width="100%" alt="">
                    <img *ngIf="customer != null"  src="{{customer.image}}" width="100%" alt="">
                  </div>
                  <div class="modal-footer">
                    <!--                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>-->
                  </div>
                </div>
              </div>
            </div>
            <h3 class="pt-4">{{customer.name}}</h3>
            <p>
              <b>Developer</b>
            </p>
            <a type="button" class="text-warning" [routerLink]="['/add-info']">
              <i class="far fa-edit mb-5" style="font-size: 40px"></i>
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <b>Tài khoản :</b>
                  <p>{{username}}</p>
                </div>
                <div class="col-6 mb-3">
                  <b>Số điện thoại :</b>
                  <p>{{customer.phone}}</p>
                </div>
                <div class="col-6 mb-3">
                  <b>Mật Khẩu :</b>
                  <p>**********</p>
                </div>
                <div class="col-6 mb-3">
                  <b>Ngày Sinh :</b>
                  <p>{{customer.birthday| date : 'dd-MM-yyyy'}}</p>
                </div>
                <div class="col-6 mb-3">
                  <b>Email :</b>
                  <p>{{customer.email}}</p>
                </div>
                <div class="col-6 mb-3">
                  <b>Ngày khởi tạo :</b>
                  <p>{{customer.appUser.creationDate | date: "dd-MM-yyyy"}}</p>
                </div>
              </div>
              <h3>Thông tin thêm!</h3>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <b>Sở thích</b>
                  <p class="text-danger ">{{customer.hobbies}}</p>
                </div>
                <div class="col-6 mb-3">
                  <b>Phương châm</b>
                  <p class="text-danger">Phố lên đèn là phải lên đồ :3</p>
                </div>
              </div>
<!--              <div class="d-flex justify-content-start">-->
<!--                <a href="#"><i class="fab fa-facebook-f fa-lg me-3"></i></a>-->
<!--                <a href="#"><i class="fab fa-twitter fa-lg me-3"></i></a>-->
<!--                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>-->
<!--              </div>-->
              <div class="text-center">
                <button class="btn btn-outline-warning" [routerLink]="'/'">Quay lại trang chủ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
