<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Facility</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our_room -->
<div class="our_room">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let facility of facilityList">
        <div id="serv_hover" class="card room">
          <div class="room_img">
            <figure><img src="{{facility.imgFacility}}" alt="#"/></figure>
          </div>
          <div class="card-body">
            <h2 class="card-title" style="font-weight: 800;">{{facility.nameFacility}}</h2>
            <p class="card-text">
              Room size: {{facility.areaFacility}} m<sup>2</sup>
            </p>
            <p>Test edit</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
          </ul>
          <div class="card-body">
            <a [routerLink]="['/facility-edit',facility.idFacility]"  class="btn btn-outline-dark">Edit</a>
            <a href="#" class="btn btn-outline-primary">Delete</a>
          </div>
        </div>
      </div>
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="card room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="/assets/images/room2.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h2 class="card-title" style="font-weight: 800;">OCEAN SUITE</h2>-->
<!--            <p class="card-text">-->
<!--              Room size: 40.1m<sup>2</sup>-->
<!--            </p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">Cras justo odio</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="edit-facility.html" class="btn btn-outline-dark">Edit</a>-->
<!--            <a href="#" class="btn btn-outline-primary">Delete</a></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="card room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="/assets/images/room3.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h2 class="card-title" style="font-weight: 800;">OCEAN SUITE</h2>-->
<!--            <p class="card-text">-->
<!--              Room size: 40.1 m<sup>2</sup>-->
<!--            </p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">Cras justo odio</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="edit-facility.html" class="btn btn-outline-dark">Edit</a>-->
<!--            <a href="#" class="btn btn-outline-primary">Delete</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="card room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="/assets/images/room4.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h3 class="card-title">Card title</h3>-->
<!--            <p class="card-text">-->
<!--              Some quick example text to build on the card title-->
<!--              and make up the bulk of the card's content.-->
<!--            </p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">Cras justo odio</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="btn btn-outline-dark">Edit</a>-->
<!--            <a href="#" class="btn btn-outline-primary">Delete</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="card room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="/assets/images/room5.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h3 class="card-title">Card title</h3>-->
<!--            <p class="card-text">-->
<!--              Some quick example text to build on the card title-->
<!--              and make up the bulk of the card's content.-->
<!--            </p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">Cras justo odio</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="btn btn-outline-dark">Edit</a>-->
<!--            <a href="#" class="btn btn-outline-primary">Delete</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4 col-sm-6">-->
<!--        <div id="serv_hover" class="card room">-->
<!--          <div class="room_img">-->
<!--            <figure><img src="/assets/images/room6.jpg" alt="#"/></figure>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <h3 class="card-title">Card title</h3>-->
<!--            <p class="card-text">-->
<!--              Some quick example text to build on the card title-->
<!--              and make up the bulk of the card's content.-->
<!--            </p>-->
<!--          </div>-->
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">Cras justo odio</li>-->
<!--          </ul>-->
<!--          <div class="card-body">-->
<!--            <a href="#" class="btn btn-outline-dark">Edit</a>-->
<!--            <a href="#" class="btn btn-outline-primary">Delete</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
