<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-pet></app-pet>-->
<!--<app-angular-using-bootstrap></app-angular-using-bootstrap>-->
<!--<app-calculator></app-calculator>-->
<!--<app-show-color></app-show-color>-->
<!--<app-article></app-article>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>  -->
<!--<app-progress-bar progress="50"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->
<!--<app-todo></app-todo>-->
<!--<app-register-account-use-reactive></app-register-account-use-reactive>-->
<app-login></app-login>
