<div class="d-block page-section">
  <div id="content">
    <img src="../../../assets/img/phuongtd-background.jpg" width="100%"/>
  </div>
  <div class="container text-center card-img-overlay pt-xl-13 p-0" style="left: 3.5%">
    <div class="row col-12 bg-light border">
      <div class="col-xl-6 col-lg-12 border" style="padding: 0 !important;">
        <img src="../../../assets/img/phuongtd-coffee.jpg" width="100%" height="100%"/>
      </div>
      <div class="col-xl-6 col-lg-12 align-self-center">
        <div class="col-12 p-lg-0 p-lg-0">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <img class="mb-4" src="../../../assets/img/phuongtd-coffee-house-logo.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Quên mật khẩu</h1>
            <input type="hidden" formControlName="token">
            <div formGroupName="pass">
              <div class="form-floating mb-3 w-50 text-center m-auto">
                <input type="password" class="form-control" id="floatingInput" placeholder="Password"
                       formControlName="password">
                <label for="floatingInput">Mật khẩu mới <span class="text-danger">(*)</span> :
                  <span class="text-danger fs-10"
                        *ngIf="changePasswordForm.controls.pass.get('password').hasError('required') && changePasswordForm.controls.pass.get('password').touched">
                    Vui lòng nhập mật khẩu.
                  </span>
                </label>
                <div class="text-danger fs-10"
                      *ngIf="changePasswordForm.controls.pass.get('password').hasError('pattern') && changePasswordForm.controls.pass.get('password').touched">
                  Tối thiểu 8 ký tự, ít nhất một chữ cái, một số và một ký tự đặc biệt.
                  </div>
              </div>

              <div class="form-floating my-3 w-50 text-center m-auto">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm password"
                       formControlName="confirmPassword">
                <label for="floatingPassword">Xác nhận <span class="text-danger">(*)</span> :
                  <span class="text-danger fs-10"
                        *ngIf="changePasswordForm.controls.pass.get('confirmPassword').hasError('required') && changePasswordForm.controls.pass.get('confirmPassword').touched">
                    Vui lòng nhập mật khẩu.
                  </span>
                </label>
                <div class="text-danger fs-10"
                     *ngIf="changePasswordForm.controls.pass.get('confirmPassword').hasError('pattern') && changePasswordForm.controls.pass.get('password').touched">
                  Tối thiểu 8 ký tự, ít nhất một chữ cái, một số và một ký tự đặc biệt.
                </div>
              </div>
            </div>
            <div class="text-danger"
                 *ngIf="changePasswordForm.controls.pass.hasError('confirm') && changePasswordForm.controls.pass.get('confirmPassword').touched && changePasswordForm.controls.pass.get('password').touched">
              Mật khẩu và xác nhận mật khẩu phải giống nhau.
            </div>
            <div class="col-12 my-3 w-50 row text-center m-auto">
              <div class="col-12 mb-3">
                <button class="btn btn-lg w-100 fs-6 btn-yellow" type="submit">Xác nhận</button>
              </div>
              <!-- Button trigger modal -->
              <div class="col-12 mb-3">
                <button type="button" class="btn btn-lg w-100 fs-6 btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                  Quay lại
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
