<div class="row">
  <h2 class="text-center">Login</h2>
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="loginFormReactive" (ngSubmit)="LoginUserWithReactive()">
      <label>Email: </label>
      <input type="email" class="form-control" formControlName="email" name="email">
      <small style="color: red;" *ngIf="loginFormReactive.controls.email.hasError('required') &&
          loginFormReactive.controls.email.touched">Email not empty</small>
      <div><small style="color: red;" *ngIf="loginFormReactive.controls.email.hasError('email') &&
      loginFormReactive.controls.email.touched">Email must correct format</small></div>
      <!--   validate password-->
        <label>Password: </label>
        <input type="password" class="form-control" name="password" formControlName="password">
        <div>
          <small style="color: red;" *ngIf="loginFormReactive.controls.password.hasError('required') &&
          loginFormReactive.controls.password.touched">Password not empty</small>
          <small style="color: red;" *ngIf="loginFormReactive.controls.password.hasError('minlength') &&
          loginFormReactive.controls.password.touched">Password must > 6 character</small>
        </div>
      <button type="submit" class="btn btn-outline-primary m-2" [disabled]="!loginFormReactive.valid"> Create
      </button>
    </form>
  </div>
</div>

