.btn-brown {
  background-color: #6c5c48;
  color: white;
}
.btn-brown:hover {
  background-color: #90734e;
  color: white;
}
.btn-outline-brown {
  border-color: #6c5c48;
  color: #6c5c48;
}
.btn-outline-brown:hover {
  border-color: #6c5c48;
  background-color: #6c5c48;
  color: white;
}
.bg-brown {
  background-color: #6c5c48;
}
.text-brown {
  color: #6c5c48;
}
.btn-yellow {
  background-color: #dea704;
  color: white;
}
.btn-yellow:hover {
  background-color: #efb403;
  color: white;
}
@media (min-width: 1200px) {
  .pt-xl-13 {
    padding-top: 13rem !important;
  }
}
@media (max-width: 1400px) {
  .page-section {
    padding: 20rem 0;
    background-color: black;
  }
}
