<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Đăng ký</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>hoặc sử dụng tài khoản của bạn</span>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Đăng ký</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Đăng nhập</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>hoặc tài khoản của bạn</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Quên mật khẩu?</a>
      <button>Đăng nhập</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Mừng sự trở lại của bạn!</h1>
        <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
        <button class="ghost" id="signIn">Đăng nhập</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Xin chào, bạn!</h1>
        <p>Nhập thông tin cá nhân của bạn và bắt đầu mua sắm với chúng tôi</p>
        <button class="ghost" id="signUp" (click)="openSign()">Đăng ký</button>
      </div>
    </div>
  </div>
</div>

